{%  extends "main/base.html" %}


{% block title %}
        Create new Post

{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
        Create Post

    <form method="post" action="/api/post/create/" class="form-group" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit", name="save" class="btn btn-success">
            Create new
        </button>

    </form>
{% endblock %}
