{% extends "main/base.html" %}



{% block title %}
Post list
{% endblock %}

{% block content %}
<div class="h2">
  Writings
</div>
<br>
<a href="/api/post/create/" class="create_button"> Create new post</a>
<form action="/api/post/order/" method="POST">
  {% csrf_token %}
  <div class="card_group sortable">

    {% for p in list %}
    <div class="card_item draggable">
      <input hidden type="number" name="{{p.id}}" value="{{p.order}}">
      <a href="/api/post/{{ p.id }}/"
        class="list-group-item list-group-item-action flex-column align-items-start card_item_link">
        {% if p.thumbnail %}
        <img class="card_img_top" src="{{ MEDIA_URL }}{{p.thumbnail }}" alt="Card image cap">
        {% endif %}
        <h5 class="card_title">{{ p.name }}</h5>

        <div class="card_text">
          <p>{{ p.text }}</p>
        </div>
        <p class="card_timestamp"><small>{{ p.created_at }}</small></p>

        <a href="/api/post/{{ p.id }}/delete/" class=" btn_delete" type="button" data-toggle="tooltip"
          data-placement="top" title="Delete">Delete</a>

      </a>
    </div>

    {% endfor %}
  </div>
  <input type="submit" value="Save changes" class="btn btn-success">

</form>

{% endblock %}