{% extends "main/base.html" %}
{% load crispy_forms_filters %}


{% block title %}
Edit Post
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="h2">

    Edit Post
</div>
<br>

<form method="post" action="/api/post/{{ form.id }}/" class="form-group" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form|crispy }}


    <button type="submit" , name="save" class="btn btn-success">
        Save changes
    </button>
</form>




<div class="h4"> Post Credits :</div>
<div class="card" style="width: 18rem;">
    <form action="/api/post/{{post.id}}/credits/order/" method="POST">
        {% csrf_token %}
        <div class="sort">
            <ul class="list-group list-group-flush">
                {% for t in post.credits.all %}
                <li class="list-group-item draggable">
                    <input hidden type="number" name="{{t.id}}" value="{{t.order}}">
                    <div class="">
                        <b>{{ t.contributor }} :</b> {{ t.contribution }} <a
                            href="/api/post/{{post.id}}/credit/{{ t.id }}/delete/"
                            class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                            data-placement="top" title="Delete">Delete</a>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
        <input type="submit" value="Save changes" class="btn btn-success">
    </form>
</div>
<br>
<br>

<div class="h5">
    Add credit
</div>
<form method="post" action="/api/post/{{ form.id }}/addCredit/" class="form-group">
    {% csrf_token %}
    {{ creditForm|crispy }}
    <button type="submit" , name="save" class="btn btn-success">
        Add
    </button>

</form>
{% endblock %}