{% extends "main/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
Edit Album
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="h2">
    Edit Album
</div>

<div><img class="card-img-top" src="{{ MEDIA_URL }}{{album.cover }}" alt="Card image cap"></div>
<form method="post" action="/api/music/{{ form.id }}/" class="form-group" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form|crispy }}


    <button type="submit" , name="save" class="btn btn-success">
        Save changes
    </button>
</form>

<hr style="border-top: 1px solid #8c8b8b">
<div class="h4"> Album songs :</div>

<form action="/api/music/{{album.id}}/order/" method="POST">
    {% csrf_token %}
    <div class="sortable">
        {% for t in album.songs.all %}
        <div class="list-group list-group-flush draggable">
            <input hidden type="number" name="{{t.id}}" value="{{t.order}}">
            <div class="list-group-item"><a href="/api/music/songs/{{ t.id }}/">{{ t.title }}</a></div>
            <div class="list-group-item"> <audio src="{{ t.track.url }}" controls></audio> <a
                    href="/api/music/songs/{{ t.id }}/delete/{{album.id}}/" class="btn btn-danger btn-sm rounded-0" type="button"
                    data-toggle="tooltip" data-placement="top" title="Delete">Delete</a></div>
        </div>
        {% endfor %}
    </div>
    <input type="submit" value="Save changes" class="btn btn-success">
</form>

<br>
<br>
<div class="h4"> Add new songs to this album :</div>
<form method="post" action="/api/music/{{ form.id }}/createSong/" class="form-group" enctype="multipart/form-data">

    {% csrf_token %}

    {{ songForm|crispy }}

    <button type="submit" , name="save" class="btn btn-success">
        Add new song
    </button>
</form>
<br>
<hr style="border-top: 1px solid #8c8b8b">
<div class="h4"> Album Credits:</div>
<div class="card" style="width: 18rem;">
    <form action="/api/music/{{album.id}}/credits/order/" method="POST">
        {% csrf_token %}
        <div class="sort">
            <ul class="list-group list-group-flush">
                {% for t in album.credits.all %}
                <li class="list-group-item draggable">
                    <input hidden type="number" name="{{t.id}}" value="{{t.order}}">
                    <div class="">
                        <b>{{ t.contributor }} :</b> {{ t.contribution }} <a
                            href="/api/music/credits/{{ t.id }}/delete/" class="btn btn-danger btn-sm rounded-0"
                            type="button" data-toggle="tooltip" data-placement="top" title="Delete">Delete</a>
                    </div>

                    </li>
                {% endfor %}
            </ul>
        </div>
            <input type="submit" value="Save changes" class="btn btn-success">
    </form>
    
</div>
<div class="h4"> Add New credit to this album :</div>
<form method="post" action="/api/music/{{ form.id }}/credits/create/" class="form-group" enctype="multipart/form-data">

    {% csrf_token %}
    {{ creditForm|crispy }}


    <button type="submit" , name="save" class="btn btn-success">
        Create credit
    </button>
</form>


{% endblock %}