<template>
<div id="background">
    <img src="../assets/Main_Background.jpg">
  </div>
</template>

<script>
export default {
name: "Background"
}
</script>

<style>
  #background{
    position: absolute;
    z-index: -2;
  }
  #background img{
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: -2;
    padding: 0;
  }
  @media (max-width:1400px) {
    #background img{
   height: 100%;
  }
  }
</style>