<template>
  <div class="">
    <div class="description-box">
      <div v-if="description.picture" class="description-image">
        <img v-bind:src="base_url + description.picture" />
      </div>
      <div class="description-content">
        <div class="description-content_title ttl">About the artist</div>
        <div class="description-content_quote ttl">
          {{ description.quote }}
        </div>
        <p v-html="description.text" class="description-content_text">
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "DescriptionView",
  components: {},
  data() {
    return {
      base_url: process.env.VUE_APP_API,
    };
  },
  props: {
    description: Object,
  },
  methods: {},
};
</script>

<style scoped>
.sub-title {
  max-width: 700px;
  width: fit-content;
  height: 15vh;
  margin-top: 15vh;
}

.sub-title img {
  max-width: 100%;
  max-height: 100%;
}

.description-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  align-items: center;
  padding: 7.5% ;
  gap: 5em;

}

.description-image {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-image img {
  /*position: absolute;*/
  width: 15rem;
  border-radius: 50%;
  aspect-ratio: 1;
}

.description-content {
  max-width: 100%;
  color: black;
}
.description-content >*{
  margin-bottom: 2rem;
}
.description-content :last-child{
  margin-bottom: 0rem;
}
.description-content_title {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 35px;
  text-align: left;
}

.description-content_quote {
  font-style: italic;
  margin-bottom: 2.5%;
  font-size: 30px;
  text-align: left;
  width: 100%;
}

.description-content_text {
  text-align: left;
  line-height: 1.8rem;
  font-weight: 300;
}
@media (max-width:768px) {
  .description-box{
    display: block;
  }
}
</style>