<template>
  <div class="topnav">
    <div class="home">
      <router-link :to="{ name: 'Home' }"
        ><img src="../assets/Matelo_Mantra_VF_(2).png" />
      </router-link>
    </div>

    <div class="menu_items">
      <router-link class="item" :to="{ name: 'Musician' }"
        ><div>Music</div></router-link
      >
      <router-link class="item" :to="{ name: 'Travels' }"
        ><div>Travels</div></router-link
      >
      <router-link class="item" :to="{ name: 'Writer' }"
        ><div>Writing</div></router-link
      >
      <!-- <div id="icon_container">
        <img class="bar-icon" src="../assets/logo.png" />
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "MenuBar",
};
</script>

<style scoped>

.topnav {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-around;
  padding: 2% 0 0 0 ;

}

.home {
  flex-basis: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home img {
  max-width: 100%;
  display: block;
}
.topnav div {
  text-align: center;
  text-decoration: none;
  height: 100%;
}

.item {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
    transition: .4s ease-in-out;

}



.menu_items {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
  flex-basis: 40%;
}
.item:hover {
  color: var(--pm-clr);
}
.item:hover .item.div {
  background-color: #dddddd;
  color: #000;
}
#icon_container {
  float: right;
  height: 100%;
  width: 50px;
  padding: 15px 15px;
}
#icon_container img {
  max-height: 100%;
  max-width: 100%;
}
#icon_container:hover {
}
@media only screen and (max-width: 600px) {
   .topnav{
    padding: 2rem 0;
    display: block;
    width: 100%;
  }
.menu_items{
  margin-top: 2rem;
}
.item:not(:last-of-type){
  padding-inline-end: 10%;
  border-right: 1px solid;
}  
}
</style>