<template>
  <div class="">
    <div class="">
      <div class="main-container">
        <div class="album_images">
          <div class="album-img" v-for="img in album.pictures" :key="img.id">
            <img :src="base_url + img.photo" alt="" />
          </div>
        </div>
        <div class="album_description">
          <p v-html="album.description"></p>
        </div>
        <div class="album_info">
          <div class="album_thumbnail">
            <!-- <Slider :images="album.pictures"/> -->
            <!-- <img v-bind:src="base_url + album.thumbnail" /> -->
          </div>
        </div>
        <!-- <div class="album_text">
          <div class="album_title">
            <p>{{ album.title }}</p>
          </div>
        
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
// import Slider from "./Slider.vue";
// import PictureView from "@/components/Traveler/PictureView";

export default {
  name: "PicAlbumPage",
  // components: { Slider },
  props: ["id"],
  data() {
    return {
      album: [],
      base_url: process.env.VUE_APP_API,
    };
  },
  watch: {
    id: async function () {
      this.album = await this.fetchData(this.id);
    },
  },
  methods: {
    async fetchData(id) {
      const res = await fetch(
        process.env.VUE_APP_API + "/api/travels/albums/" + id + "/"
      );

      return await res.json();
    },
  },
  async created() {
    // console.log(this.id);
    // this.album = await this.fetchData(this.id);
    // console.log(this.album);
  },
};
</script>

<style scoped>
.main-container {
  width: 100%;
  border-radius: var(--border-raduis-normal);
  background-color: var(--bk-clr-white);
  padding: 2rem;
  margin-bottom: 2rem;
}
.album_images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  
  gap: 1rem;
}
.album-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.album-img .album_info {
  display: grid;
  grid-template-columns: 40% 55%;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}
.album_thumbnail {
  width: 100%;
  height: 100%;
}
.album_thumbnail img {
  width: 100%;
  aspect-ratio: 1;
}
.album_text {
  display: grid;
  grid-auto-rows: 0.8fr 4fr;
  gap: 2em;
}
.album_text p {
  text-align: center;
}
.album_title {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album_description p {
  text-align: left;
}

.album_description {
  margin-top: 1rem;
  padding: 2.5% 2.5%;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  max-height: 10vh;
  overflow: auto;
}
</style>
