
<template>
    <!-- <img v-bind:src="base_url + album.cover" />
        <p>{{ album.title }}</p>
    
     -->
    <div class="album" @click="$emit('changeAlbum',album.id)">
      <div class="album-img" :style="{'background-image':`url(${base_url +  album.thumbnail})`}">
        <!-- <img v-bind:src="" alt="" /> -->
                <h3 class="ttl">{{ album.title }}</h3>

      </div>
      <div class="album-title">
      </div>
    </div>
  
</template>

<script>
export default {
  name: "PictureAlbumView",
  components: {},
  data() {
    return {
      base_url: process.env.VUE_APP_API,
    };
  },
  props: {
    album: Object,
  },
  methods: {},
};
</script>

<style scoped>
.album-img {
  position: relative;
  width: 100%;
  aspect-ratio: 1.25;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  isolation: isolate;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.album-img::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bk-clr-white);
  z-index: -1;
}
.album-img>h3{
  color: black;
 
}
.album-img > img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 10px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
}
.album-title{
  color: black;
  letter-spacing: 1px;
}

</style>