<template>
  <div class="slideshow">
    <div class="slideshow-container">
      <div class="mySlides" v-for="img in images" :key="img.id">
        <img :src="base_url + img.photo" alt="" />
      </div>

      <!-- Next and previous buttons -->
    </div>
    <a class="prev" @click="minuesSlides(-1)">&#10094;</a>
    <a class="next" @click="plusSlides(1)">&#10095;</a>
  </div>
</template>
<script>
export default {
  name: "slider",
  data() {
    return {
      base_url: process.env.VUE_APP_API,
      slideIndex: 1,
      slides:[]
    };
  },
  props: {
    images: [Object],
  },
  methods: {
    initSlider() {
      let slides = document.getElementsByClassName("mySlides");
      slides[0].classList.add("init");
      for (let i = 0; i < slides.length; i++) {
        const element = slides[i];
        element.style.transform = "translate(100%,-50%)";
      }
      // slides[slides.length-1].style.transform="translate(-100%,-50%)"
    },
    moveNext(n) {
      let prev;
      if (n > this.slides.length) {
        this.slideIndex = 1;
      }
      if (n < 1) {
        this.slideIndex = this.slides.length;
      }
      if (this.slideIndex > 1) {
        prev = this.slideIndex - 2;
      } else {
        prev = this.slides.length - 1;
      }
      this.clear()

      this.slides[this.slideIndex - 1].classList.add("slide-right");
      this.slides[prev].classList.add("slide-out");
    },
    moveBack(n) {
      let next;
      if (n > this.slides.length) {
        this.slideIndex = 1;
      }
      if (n < 1) {
        this.slideIndex = this.slides.length;
      }
      if (this.slideIndex < this.slides.length) {
        next = this.slideIndex;
      } else {
        next = 0;
      }
      this.clear()
      this.slides[this.slideIndex - 1].classList.add("slide-left");
      this.slides[next].classList.add("slide-left-out");
    },
    plusSlides(n) {
      this.moveNext((this.slideIndex += n));
    },
    minuesSlides(n) {
      this.moveBack((this.slideIndex += n));
    },
    clear() {
     

      for (let i = 0; i < this.slides.length; i++) {
        this.slides[i].classList.remove("init");
        this.slides[i].classList.remove("slide-out");
        this.slides[i].classList.remove("slide-right");
        this.slides[i].classList.remove("slide-left");
        this.slides[i].classList.remove("slide-left-out");
      }
    },
  },
  updated() {
    this.initSlider(1);
    this.slides=document.getElementsByClassName("mySlides");
  },
};
</script>
<style scope>
.slideshow {
  --nav-size: 2rem;

  width: 100%;
  height: 100%;
  position: relative;
}
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  /* display: none; */
  width: 100%;
  max-width: 45rem;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: 1s ease-in-out;
}
.mySlides.inActivate {
  transform: translate(100%, -50%);
}
.mySlides.active {
  transform: translate(0%, -50%);
}

.mySlides > img {
  width: 100%;
  max-width: 45rem;
  aspect-ratio: 1;
  object-fit: contain;
}
@media (max-width:768px) {
  .mySlides > img {
  width: 100%;

}
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.5rem;
  color: black;
  font-weight: lighter;
  font-size: var(--nav-size);
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translateY(-50%);
}

.prev {
  left: calc(var(--nav-size) * -1);
  border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
  right: calc(var(--nav-size) * -1);
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.slide-right {
  animation: slideRight forwards 1s;
}
.init {
  transform: translate(0, -50%) !important;
}
@keyframes slideRight {
  from {
    transform: translate(100%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}
.slide-left {
  animation: slideLeft forwards 1s;
}
@keyframes slideLeft {
  from {
    transform: translate(-100%, -50%);
  }
  to {
    transform: translate(0%, -50%);
  }
}
.slide-left-out {
  animation: slideLeftOut forwards 1s;
}
@keyframes slideLeftOut {
  from {
    transform: translate(0%, -50%);
  }
  to {
    transform: translate(100%, -50%);
  }
}
.slide-out {
  animation: slideOut forwards 1s;
}

@keyframes slideOut {
  from {
    transform: translate(0%, -50%);
  }
  to {
    transform: translate(-100%, -50%);
  }
}
</style>