<template>
  <div class="">
    <Background />
    <MenuBar />
    <div class="travler-container">
      <div class="side-nav">
        <div v-for="album in albums" :key="album.id" class="">
        <div class="side-nav-item">

          <PictureAlbumView :album="album" @changeAlbum="changeAlbum" />
        </div>
        </div>
      </div>
      <PicAlbumPageVue :id="currentAlbumId" />
    </div>
  </div>
</template>

<script>
import Background from "@/components/Background";
import MenuBar from "@/components/MenuBar";
import PictureAlbumView from "@/components/Traveler/PictureAlbumView";
import PicAlbumPageVue from "./PicAlbumPage.vue";

export default {
  name: "Traveler",
  components: { PictureAlbumView, MenuBar, Background, PicAlbumPageVue },
  data() {
    return { albums: [], currentAlbumId: 0 };
  },
  methods: {
    async fetchAlbums() {
      const res = await fetch(
        process.env.VUE_APP_API + `/api/travels/albums/list/`
      );

      return res.json();
    },
    changeAlbum(id) {
      this.currentAlbumId = id;
      console.log(this.currentAlbumId);
    },
  },
  async mounted() {
    this.albums = await this.fetchAlbums();
    if (this.albums.length > 0) {
      this.currentAlbumId = this.albums[0].id;
    }
  },
  async created() {},
};
</script>

<style scoped>
.travler-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
  padding: 0em 5% 0 0em;
}
.side-nav {
  height: 62vh;
  
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  gap: 4rem;
  padding: 4rem;
  overflow-y: auto;
  border-radius: var(--border-raduis-normal);
}
.side-nav::-webkit-scrollbar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.side-nav::-webkit-scrollbar-button:single-button {
  height: .75rem;
  margin-top: 1rem;
  border: transparent;
}

.side-nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgb(207, 207, 207);
  transition: .4s ease-in-out;
}
.side-nav::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189);
}
@media (max-width:768px) {
  .travler-container {
  display: block;
  
}
  .travler-container>:first-child {
  margin-bottom: 2em;
  
}
}
</style>