{% extends "main/base.html" %}



{% block title %}
Travel Album list
{% endblock %}

{% block content %}
<div class="h2">
  Travels
</div>
<br>

<a href="/api/travels/create/" class="create_button"> Create new Album</a>


<form action="/api/travels/order/" method="POST">
  {% csrf_token %}
  <div class="card_group sortable">
    {% for p in list %}

    <div class="card_item draggable">
      <input hidden type="number" name="{{p.id}}" value="{{p.order}}">

      <a href="/api/travels/{{ p.id }}/"
        class="list-group-item list-group-item-action flex-column align-items-start card_item_link">
        {% if p.thumbnail %}
        <img class="card_img_top" src="{{ MEDIA_URL }}{{p.thumbnail }}" alt="Card image cap">
        {% endif %}
        <h5 class="card_title">{{ p.title }}</h5>
        <div class="card_text">
          <p>{{ p.description }}</p>
        </div>
        <a href="/api/travels/{{ p.id }}/delete/" class="btn_delete" type="button" data-toggle="tooltip"
          data-placement="top" title="Delete">Delete</a>

      </a>
    </div>
    {% endfor %}
  </div>
  <input type="submit" value="Save changes" class="btn btn-success">

</form>


{% endblock %}