{% extends "main/base.html" %}
{% load crispy_forms_filters %}

{% block title %}
Edit Album
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="h2">
    Edit Album
</div>
<div class="h5">

    Album pictures :
</div>
<form action="/api/travels/{{album.id}}/order/" method="POST">
    {% csrf_token %}

    <div class="sortable card_group">
        {% for p in album.pictures.all %}
        <div class="card_item draggable">
            <input hidden type="number" name="{{p.id}}" value="{{p.order}}">
            <div class="card_item_img">
                <a href="/api/travels/pic/{{ p.id }}/">
                    <img class="card_img_top" src="{{ MEDIA_URL }}{{ p.photo }}" alt="Card image cap">
                </a>
                <a href="/api/travels/{{ album.id }}/pic/{{p.id}}/deleteImg/" class="card_delete" type="button">X</a>

            </div>


            <p class="card_caption">{{ p.caption }}</p>
        </div>
        {% endfor %}
    </div>

    <input type="submit" value="Save changes" class="btn btn-success">

</form>
<br>
<br>
<div><img class="\" width="300" src="{{ MEDIA_URL }}{{album.thumbnail }}" alt="Card image cap"></div>
<form method="post" action="/api/travels/{{ form.id }}/" class="form-group" enctype="multipart/form-data">

    {% csrf_token %}
    <!-- Create the toolbar container -->
   {{form.media}}
    {{ form|crispy }}


    <button type="submit" , name="save" class="btn btn-success">
        Save changes
    </button>
</form>

<hr style="border-top: 1px solid #8c8b8b">




<div class="h3">
    Add pictures to this album
</div>
<form method="post" action="/api/travels/{{ form.id }}/addImage/" class="form-group" enctype="multipart/form-data">
    {% csrf_token %}

    <div id="div_id_caption" class="form-group"> <label for="id_caption" class="">
            Caption
        </label>
        <div class=""> <textarea name="caption" cols="40" rows="10" maxlength="255" class="textarea form-control"
                id="id_caption"></textarea> </div>
    </div>
    <div id="div_id_photo" class="form-group"> <label for="id_photo" class=" requiredField">
            Photo<span class="asteriskField">*</span> </label>
        <div class=""> <input type="file" name="photo" accept="image/*" multiple
                class="clearablefileinput form-control-file" required="" id="id_photo"> </div>
    </div>
    <!-- {{ picForm|crispy }} -->
    <button type="submit" , name="save" class="btn btn-success">
        Add
    </button>
</form>




{% endblock %}