<template>
  <div class="player-cont">
    <div class="main-player">
      <div class="player-hero" id="player-hero">
        <img :src="cover" alt="" id="cover-img" />
      </div>

      <div class="player-controler">
        <div class="timer" id="mtimer">
          <p>00 : 00</p>
        </div>
        <div class="buttons">
          <button @click="back()" id="pre" :disabled="isDisabled">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
          </button>
          <button @click="play()" :disabled="isDisabled" id="mplay">
            <i class="fa fa-play" aria-hidden="true"></i>
          </button>
          <button @click="next()" id="next" :disabled="isDisabled">
            <i class="fa fa-step-forward" aria-hidden="true"></i>
          </button>
        </div>
        <div class="duration" id="duration">
          {{ currentSong[0]?.mins }} : {{ currentSong[0]?.seconds }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
// import APP from '../../App.vue'
export default {
  props: {
    currentSong: Object,
    cover: String,
  },
  computed: {
    isDisabled() {
      return this.currentSong["0"] === undefined;
    },
  },
  data() {
    return {
      song: Object,
      track: HTMLVideoElement,
    };
  },
  methods: {
    fillDuration() {
      //   if (this.currentSong) {
      //     const duration = document.getElementById("duration");
      //     const { mins, seconds } = this.currentSong[0];
      //     duration.innerHTML = `${mins} : ${seconds}`;
      //   }
    },
    formatTimer(track) {
      const timer = document.getElementById("mtimer");
      const minutes = Math.floor(track.currentTime / 60).toLocaleString(
        "en-us",
        { minimumIntegerDigits: 2 }
      );
      const seconds = Math.floor(track.currentTime % 60).toLocaleString(
        "en-us",
        { minimumIntegerDigits: 2 }
      );
      if (timer) {
        timer.innerHTML = `${minutes} : ${seconds}`;
      }
    },
    updateTimer(track) {
      this.formatTimer(track);
      track.onplaying = () => {
        window.setInterval(() => {
          this.formatTimer(track);
        }, 1000);
      };
      track.onpause = () => {
        window.clearInterval();
      };
      track.onended = () => {
        window.clearInterval();
      };
    },
    initialCover() {
      if (this.currentSong) {
        
        const { isVideo } = this.currentSong;
        const cover_img = document.getElementById("cover-img");
        if (isVideo === true) {
          cover_img.style.display = "none";
          this.track.style.width = "100%";
          this.track.style.height = "100%";
        } else {
          cover_img.style.display = "inline-block";
          this.track.style.width = "0";
        }
      }
    },
    updateCover() {
      const { isVideo } = this.currentSong[0];
      const cover_img = document.getElementById("cover-img");
      if (isVideo === true) {
        cover_img.style.display = "none";
        this.track.style.width = "100%";
        this.track.style.height = "100%";
      } else {
        cover_img.style.display = "inline-block";
        this.track.style.width = "0";
      }
    },
    back() {
      document.getElementById("pre").click();
      this.song = this.currentSong;
    },
    next() {
      document.getElementById("next").click();
      console.log(this.currentSong);
      this.song[0] = this.currentSong;
    },
    play() {
      document.getElementById("play").click();
      this.copyPlay();
    },
    copyPlay() {
      const play = document.querySelector("#play");
      const mainplay = document.querySelector("#mplay");
      mainplay.innerHTML = play.innerHTML;
    },
  },
  watch: {
    song: function () {
      this.updateTimer(this.track);
    },
    currentSong: function () {
      this.fillDuration();
      this.updateCover(this.track);
    },
  },
  created() {
    this.track = document.getElementById("mediaPlayer");
  },
  mounted() {
    const player = document.getElementById("player-hero");
    player.appendChild(this.track);
    if (this.currentSong) {
      this.initialCover();
    }
    this.copyPlay();
  },
  beforeUnmount() {
    const media = document.getElementById("media");
    media.appendChild(this.track);
    console.log(this.currentSong);
    if (this.currentSong) {
      if (this.currentSong.isVideo === true) {
        this.track.style.width = "10rem";
      } else {
        this.track.style.width = "0";
      }
      this.track.style.height = "auto";
    }

    window.clearInterval();
  },
};
</script>

<style scoped>
.player-cont {
  height: 100%;
}
.main-player {
  margin-bottom: 1rem;
  height: 100%;
}
.player-hero{
   height: 80%;
 
}
.player-hero > * {
  height: 100%;
  object-fit: contain;
}

.player-controler {
  display: flex;
  background-color: var(--bk-clr-white);
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--bk-clr-white);
}
.buttons {
  display: flex;
  justify-content: space-between;
  flex-basis: 22.5%;
}
.buttons > button {
  border-radius: 100%;
  background: transparent;
  padding: 0.5rem;
  cursor: pointer;
  border: 0;
  color: var(--pm-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}
#mplay {
  background-color: rgba(255, 255, 255, 0.5);
}
</style>