<template>
  <div>
    <div class="music-player" v-show="isFetching">
      <div class="main">
        <div class="main-top">
          <p id="logo"><i class="fa fa-music"></i>Music</p>
          <div class="show_song_no">
            <p id="present">1</p>
            <p>/</p>
            <p id="total">5</p>
          </div>
        </div>

        <div class="main-content">
          <div class="left-info">
            <!--- song title & artist name --->
            <div id="media">
              <video id="mediaPlayer"></video>
              <img id="track_image" />
            </div>
            <div>
              <p id="title">title.mp3</p>
              <p id="artist">Artist name</p>
            </div>
          </div>
          <!--- left part --->
          <div class="left">
            <!--- song img --->

            <div>
              <button id="auto" @click="autoplay_switch()">
                Auto play
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
              </button>

              <div class="volume">
                <p id="volume_show">90</p>
                <i
                  class="fa fa-volume-up"
                  aria-hidden="true"
                  @click="mute_sound()"
                  id="volume_icon"
                ></i>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="90"
                  @change="volume_change()"
                  id="volume"
                />
              </div>
            </div>
          </div>

          <!--- right part --->
          <div class="right">
            <!--- middle part --->
            <div class="middle">
              <button @click="previous_song()" id="pre">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
              </button>
              <button @click="justplay()" id="play">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
              <button @click="next_song()" id="next">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
              </button>
            </div>

            <!--- song duration part --->
            <div class="duration">
              <input
                type="range"
                min="0"
                max="100"
                value="0"
                id="duration_slider"
                @change="change_duration()"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MusicPlayer",
  data() {
    return {
      album: {},
      base_url: process.env.VUE_APP_API,
      index: Number,
      albumId: 0,
      isFetching: false,
      previous: document.querySelector("#pre"),
      play: document.querySelector("#play"),
      next: document.querySelector("#next"),
      title: document.querySelector("#title"),
      recent_volume: document.querySelector("#volume"),
      volume_show: document.querySelector("#volume_show"),
      slider: document.querySelector("#duration_slider"),
      show_duration: document.querySelector("#show_duration"),
      track_image: document.querySelector("#track_image"),
      auto_play: document.querySelector("#auto"),
      present: document.querySelector("#present"),
      total: document.querySelector("#total"),
      artist: document.querySelector("#artist"),
      media: document.querySelector("#media"),
      autoplay: 0,
      index_no: 0,
      Playing_song: false,
      track: HTMLVideoElement,
      timer: null,
      All_song: [],
    };
  },
  props: {},
  methods: {
    prepare_track(index_no) {
      this.track.src = this.All_song[index_no].path;
      this.title.innerHTML = this.All_song[index_no].name;
      this.track_image.src = this.All_song[index_no].img;
      this.artist.innerHTML = this.All_song[index_no].singer;
      this.total.innerHTML = this.All_song.length;
      this.present.innerHTML = index_no + 1;

      if (this.All_song[index_no].isVideo === true) {
        // this.track.setAttribute("controls", true);
        this.track_image.style.visibility = "hidden";
        // this.track.style.width = "10rem";
        this.track.classList.add("vid");
      } else {
        this.track.setAttribute("controls", false);
        // this.track.style.width = "0";
        this.track.classList.add("vid");

        this.track_image.style.visibility = "visible";
      }
    },
    load_track(index_no) {
      clearInterval(this.timer);
      this.reset_slider();
      this.prepare_track(index_no);

      this.track.load();

      this.timer = setInterval(this.range_slider, 1000);
    },
    reset_slider() {
      this.slider.value = 0;
      if (!this.track) {
        this.track = document.createElement("video");
      }
    },
    mute_sound() {
      this.track.volume = 0;
      this.recent_volume.value = 0;
      this.volume_show.innerHTML = 0;
    },
    justplay() {
      if (this.Playing_song == false) {
        this.playsong();
      } else {
        this.pausesong();
      }
    },
    copyPlay() {
      const play = document.querySelector("#play");
      const mainplay = document.querySelector("#mplay");
      if (mainplay) {
        mainplay.innerHTML = play.innerHTML;
      }
    },
    playsong() {
      setTimeout(() => {
        this.track.play();
      }, 150);
      // this.track.play();

      this.Playing_song = true;
      this.play.innerHTML = '<i class="fa fa-pause" aria-hidden="true"></i>';
      this.copyPlay();
    },
    pausesong() {
      this.track.pause();
      this.Playing_song = false;
      this.play.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
      this.copyPlay();
    },
    next_song() {
      if (this.index_no < this.All_song.length - 1) {
        this.index_no += 1;
        this.load_track(this.index_no);
        this.playsong();
      } else {
        this.index_no = 0;
        this.load_track(this.index_no);
        this.playsong();
      }
      this.$emit("change_song", {
        index: this.index_no,
        song: this.album.songs.filter(
          (song) => song.id === this.All_song[this.index_no].id
        ),

        albumId: this.album.id,
      });
    },

    previous_song() {
      if (this.index_no > 0) {
        this.index_no -= 1;
        this.load_track(this.index_no);
        this.playsong();
      } else {
        this.index_no = this.All_song.length - 1;
        this.load_track(this.index_no);
        this.playsong();
      }

      this.$emit("change_song", {
        index: this.index_no,
        song: this.album.songs.filter(
          (song) => song.id === this.All_song[this.index_no].id
        ),

        albumId: this.album.id,
      });
    },
    volume_change() {
      this.volume_show.innerHTML = this.recent_volume.value;
      this.track.volume = this.recent_volume.value / 100;
    },
    change_duration() {
      this.slider_position = this.track.duration * (this.slider.value / 100);
      this.track.currentTime = this.slider_position;
    },
    autoplay_switch() {
      if (this.autoplay == 1) {
        this.autoplay = 0;
        this.auto_play.style.background = "rgba(255,255,255,0.2)";
      } else {
        this.autoplay = 1;
        this.auto_play.style.background = "#FF8A65";
      }
    },
    range_slider() {
      let position = 0;

      // update slider position
      if (!isNaN(this.track.duration)) {
        position = this.track.currentTime * (100 / this.track.duration);
        this.slider.value = position;
      }

      // function will run when the song is over
      if (this.track.ended) {
        this.play.innerHTML = '<i class="fa fa-play" aria-hidden="true"></i>';
        if (this.autoplay == 1) {
          this.index_no += 1;
          this.load_track(this.index_no);
          this.playsong();
        }
      }
    },
    async fetchData(id) {
      const res = await fetch(this.base_url + "/api/music/Albums/" + id + "/");
      return await res.json();
    },
  },
  watch: {
    index: function () {
      let tries = 0;
      this.index_no = this.index;
      const interval = setInterval(() => {
        tries++;
        if (this.All_song.length > 0) {
          this.load_track(this.index_no);
          clearInterval(interval);
        }
        if (tries > 500) {
          clearInterval(interval);
        }
      }, 100);
      this.playsong();
    },
    albumId: async function () {
      this.isFetching = false;
      this.All_song = [];
      this.album = await this.fetchData(this.albumId);
      this.album.songs.forEach((song) => {
        song.seconds = parseInt(song.track_duration) % 60;
        if (song.seconds < 10) song.seconds = "0" + song.seconds.toString();
        song.mins = (parseInt(song.track_duration) - song.seconds) / 60;
        if (song.mins < 10) song.mins = "0" + song.mins.toString();
      });
      this.album.songs?.forEach((song) => {
        this.All_song.push({
          id: song.id,
          name: song.title,
          path: `${this.base_url}${song.track}`,
          img: `${this.base_url}/${this.album.cover}`,
          singer: `${song.artists}`,
          isVideo: song.isVideo,
        });
      });
      this.isFetching = true;
    },
  },

  async mounted() {
    this.previous = document.querySelector("#pre");
    this.play = document.querySelector("#play");
    this.next = document.querySelector("#next");
    this.title = document.querySelector("#title");
    this.recent_volume = document.querySelector("#volume");
    this.volume_show = document.querySelector("#volume_show");
    this.slider = document.querySelector("#duration_slider");
    this.show_duration = document.querySelector("#show_duration");
    this.track_image = document.querySelector("#track_image");
    this.auto_play = document.querySelector("#auto");
    this.present = document.querySelector("#present");
    this.total = document.querySelector("#total");
    this.artist = document.querySelector("#artist");
    this.media = document.querySelector("#media");
    this.track = document.getElementById("mediaPlayer");
  },
};
</script>



<style scoped>
.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5461623d;
  transition: .4s ease-in-out;
}
.vid {
  width: 10rem;
}
.main {
  position: relative;
  height: 10rem;
  padding: 5px 5% 0;
}
.music-player:hover{
  background: #5461627c;
}
.main-top {
  display: flex;
  justify-content: space-between;
  min-height: 25%;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main button {
  padding: 10px 12px;
  margin: 0 10px;
}
.main #logo {
  font-size: 25px;
  color: #ccc;
}
.main #logo i {
  margin-right: 15px;
}

/* left & right part */
.left {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-info {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #ccc;
}
/* song image */
.left-info img {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(240, 240, 240, 0.2);
}

/* both range slider part */
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #ff8a65;
  border-radius: 50%;
  cursor: pointer;
}
.right input[type="range"] {
  width: 100%;
}

/* volume part */
.left .volume {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.left .volume p {
  font-size: 15px;
}
.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
  background: #ff8a65;
}
.left .volume i:hover {
  background: rgba(245, 245, 245, 0.1);
}
.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(245, 245, 245, 0.1);
}
/* right part */
.right .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .middle button {
  border: none;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.1);
}
.right #title {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 35px;
}
.right #artist {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}
.right .duration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
.right .duration p {
  color: #fff;
  font-size: 15px;
  margin-left: 20px;
}
#auto {
  font-size: 18px;
  cursor: pointer;
  border: none;
  padding: 10px 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 1rem;
}
#auto i {
  margin-left: 8px;
}
#play {
  background: #ff8a65;
}
.right button:hover {
  background: #ff8a65;
}
.right i:before {
  color: #fff;
  font-size: 20px;
}

.show_song_no {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}
.show_song_no p:nth-child(2) {
  margin: 0 5px;
}
.hidden {
  display: none;
}
.play {
  width: 35px;
  padding: 5px;
  height: 35px;
  background-position: center;
  background-size: 25px 25px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-image: url("../../assets/Play.png");
}
</style>