<template>
  <router-link :to="{ name: 'Music_details', params: { id: album.id } }">
    <!-- <img v-bind:src="base_url + album.cover" />
        <p>{{ album.title }}</p>
    
     -->
    <div class="album">
      <div class="album-img">
        <img v-bind:src="base_url + album.cover" alt="" />
      </div>
      <div class="album-title">
        <h3>{{ album.title }}</h3>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "AlbumVIew",
  components: {},
  data() {
    return {
      base_url: process.env.VUE_APP_API,
    };
  },
  props: {
    album: Object,
  },
  methods: {},
  async created() {
    // console.log(this.album);
  },
};
</script>

<style scoped>
.album-img {
  width: 100%;
}
.album-img > img {
  width: 100%;
  aspect-ratio: 1.5;
  border-radius: 10px;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5);
}
.album-title{
  color: black;
  letter-spacing: 1px;
}
</style>