<template>
<div>
  <Background />
  <MenuBar />
  <div class="wrapper">
    <div class="recycler-view" v-if="isFetching == false">
      <AlbumVIew v-for="album in albums" :key="album.id" :album="album" />
      
    </div>
  </div>
</div>

</template>

<script>
import Background from "@/components/Background";
import AlbumVIew from "@/components/Musician/MusicAlbumVIew";
import MenuBar from "@/components/MenuBar";
export default {
  name: "Musician",
  components: { MenuBar, AlbumVIew, Background },
  data() {
    return {
      albums: [],
      isFetching: true,
    };
  },
  methods: {
    async fetchAlbums() {
      const res = await fetch(
        process.env.VUE_APP_API + "/api/music/Albums/list/"
      );

      return await res.json();
    },
  },
  async created() {
    this.albums = await this.fetchAlbums();
    this.albums.forEach((album) => {
      album.songs.forEach((song) => {
        song.seconds = parseInt(song.track_duration) % 60;
        if (song.seconds < 10) song.seconds = "0" + song.seconds.toString();
        song.mins = (parseInt(song.track_duration) - song.seconds) / 60;
        if (song.mins < 10) song.mins = "0" + song.mins.toString();
      });
    });

    this.isFetching = false;
  },
};
</script>



<style >

</style>