<template>
  <div class="music-page">
    <Background />
    <MenuBar />

    <div class="wrapper">
      <div class="album_card" v-if="!isFetching">
        <div class="album_title">
          <h3 class="ttl">{{ album.title }}</h3>
        </div>
        <div class="album_content">
          <div class="album_songs">
            <div
              class="song"
              @click="playMusic(album.songs.indexOf(song), song.id)"
              :key="song.id"
              v-for="song in album.songs"
              :id="song.id"
            >
              <div class="song_number">{{ album.songs.indexOf(song) + 1 }}</div>
              <div class="song_text">
                <div class="song_title">
                  <p>{{ song.title }}</p>
                </div>
                <div class="song_artist">
                  <small>{{ song.artists }}</small>
                </div>
              </div>
              <div class="song_duration">
                {{ song.mins }}:{{ song.seconds }}
              </div>
            </div>
          </div>
          <div class="album_text">
            <div class="main-music">
              <MainMusicPlayer
                v-bind:cover="cover"
                v-bind:currentSong="currentSong"
                ref="mainPlayer"
              />
            </div>

            <div class="album_credits">
              Artist : {{ album.artist }}
              <br />
              Credits :<br />
              <p v-for="(credit, index) in album.credits" :key="index">
                {{ credit.contribution }} by {{ credit.contributor }}
              </p>
            </div>
            <div class="album_description">
              <p v-html="album.description">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Background from "@/components/Background";
import MenuBar from "@/components/MenuBar";
import MainMusicPlayer from "./mainMusicPlauer.vue";
export default {
  name: "MusicPage",
  components: { MenuBar, Background, MainMusicPlayer },
  props: {
    currentSong: Object,
  },
  data() {
    return {
      album: [],
      isFetching: true,
      base_url: process.env.VUE_APP_API,
      cover: String,
    };
  },
  methods: {
    async fetchData(id) {
      const res = await fetch(this.base_url + "/api/music/Albums/" + id + "/");
      return await res.json();
    },

    playMusic(index, id) {
      const current_song = this.album.songs.filter((song) => song.id === id);
      this.$emit("change_song", {
        index: index,
        albumId: this.$route.params.id,
        song: current_song,
      });
      const songs = document.querySelectorAll(".song");
      songs.forEach((song) => song.classList.remove("active"));
      const song = document.getElementById(`${id}`);
      song.classList.add("active");

      this.$refs.mainPlayer.song = {
        track: current_song,
      };
    },
  },

  async mounted() {
    this.album = await this.fetchData(this.$route.params.id);
    console.log(this.album);
    this.album.songs.forEach((song) => {
      song.seconds = parseInt(song.track_duration) % 60;
      if (song.seconds < 10) song.seconds = "0" + song.seconds.toString();
      song.mins = (parseInt(song.track_duration) - song.seconds) / 60;
      if (song.mins < 10) song.mins = "0" + song.mins.toString();
    });
    this.isFetching = false;
    this.cover = `${this.base_url}${this.album.cover}`;
  },
};
</script>

<style scoped>
.music-page{
  padding-bottom: 20vh;
}
.album_card {
  display: block;
  margin: 30px 0;
}
.album_title {
  margin: 0 auto;
  border-radius: 10px;
  padding: 0px 20px;
  background-color: var(--bk-clr-white);
  margin-bottom: 2rem;
}
.album_title p {
  margin: 0;
  color: black;
}
.album_content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
}
.album_cover {
  border-radius: 1vw;
}
.album_cover img {
  object-fit: cover;
  max-height: 100%;
  margin: 0 -140%;
}
.album_text {
  margin: 0 1%;
}
.main-music{
  height: 50vh;
}
.album_credits {
  height: 5vh;
  padding: 2.5% 2.5%;
  margin-bottom: 2.5%;
  text-align: left;
  border-radius: 10px;
  background-color: var(--bk-clr-white);
  overflow-y: auto;
}
.album_description {
  height: 5vh;
  text-align: justify;
  margin-top: 2.5%;
  background-color: var(--bk-clr-white);
  padding: 2.5% 2.5%;
  border-radius: 10px;
  color: black;
  overflow-y: auto;
}
.album_songs {
  padding: 5% 5%;
  border-radius: 10px;
  background-color: var(--bk-clr-white);
  color: black;
  overflow: auto;
  height: 68vh;
}
.song {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-block-end: 1px solid;
  padding-block: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.song.active {
  background-color: rgba(30, 30, 30, 0.25);
}
.song:hover {
  background-color: rgba(30, 30, 30, 0.25);
}
.song_number {
  font-size: 2rem;
}
.song_text {
  display: block;
}

.song_duration {
  font-weight: bold;
}
/* ::-webkit-scrollbar {
  width: 12px;
} */

/*::-webkit-scrollbar-track {*/
/*    !*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*!*/
/*    border-radius: 10px;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 10px;*/
/*    !*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)*!*/
/*}*/
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

@media only screen and (max-width: 768px) {
  .music-page{
  padding-bottom: 5vh;
}
  .main-music{
  height: 30vh;
}
  .album_title {
    height: fit-content;
    width: 80%;
    padding: 5%;
    border-radius: 200px;
  }
  .album_title p {
    font-weight: bold;
    font-size: 50px;
  }
  .album_content {
        grid-template-columns: 1fr 1.5fr;

    gap: 1em;
  }

  .album_credits {
    width: 100%;
  }
  .album_description {
    width: 100%;

    overflow: scroll;
  }

  .album_cover {
    border-radius: 35px;
    width: auto;
    height: 50vh;
    margin-left: 2.5%;
  }
  .album_songs {
    border-radius: 10px;
    height: 80%;

  }

  .song {
    display: block;
  }
  .song_number {
    margin: 5px 5px;
  }
  .song_text {
    margin: 5px 5px;
    display: block;
  }
  .song_title {
  }
  .song_artist {
  }
  .song_duration {
  }
}
</style>