<template>
  <div>
    <music-player @change_song="play" ref="player" />
    <router-view v-bind:currentSong="currentSong" @change_song="play" />
    <!-- <div :ref="container"></div> -->
  </div>
</template>

<script>
import MusicPlayer from "./components/Musician/MusicPlayer.vue";

export default {
  name: "App",
  components: {
    MusicPlayer,
  },
  data() {
    return {
      currentSong: Object,
    };
  },
  methods: {
    play(event) {
      this.$refs.player.albumId = event.albumId;
      this.$refs.player.index = event.index;

      this.currentSong = event.song;
    },
  },
};
</script>

<style>
:root {
  --pm-clr: #546162;
  --bk-clr-white: rgba(255, 255, 255, 0.325);
  --border-raduis-normal: 25px;
}
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-mute-button {
  display: none;
}

html {
  position: relative;
  min-height: 100vh;
}
@font-face {
  font-family: "Oswald";
  src: local("OsWald"), url("./assets/fonts/Oswald/static/Oswald-Regular.ttf");
}
@font-face {
  font-family: "vijaya";
  src: local("vijaya"), url("./assets/fonts/vijaya.ttf");
}
body {
  font-family: Oswald;
}
.ttl{
  font-family: 'vijaya';
  font-size: 48px;
  font-weight: bold;
}
#app {
  font-family: Oswald, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  transition: filter 0.5s;
}
.wrapper {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 80%; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px;
}
.recycler-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.25);
  padding: 5rem;
  border-radius: 20px;
  gap: 6rem;
}
@media (max-width: 600px) {
  .wrapper {
    max-width: 100%;
    padding-right: 0px; /* 3 */
    padding-left: 0px;
  }
  .recycler-view {
    display: block;
  }
}
.panel-title h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.image {
  overflow: scroll;
  height: fit-content;
}

#player_container {
  position: fixed;
  height: 120px;
  bottom: 0;
  left: 0;
  width: 100vw;
  transition: bottom 0.5s;
}
#image_container {
  position: absolute;
  top: 0;
  left: 15vw;
  z-index: +10;
  height: auto;
  width: 70vw;
  margin: 20vh 0;
  transition: display 0.5s;
}

.blurred {
  filter: blur(10px);
}

#image_perimeter {
  position: fixed;
  top: 0;
  z-index: +1;
  height: 1000vh;
  width: 1000vw;
}

#image_container img {
  width: 100%;
  height: 100%;
}
b, strong {
    font-weight: bold;
}
</style>
