<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <title>Matelo Mantra Administration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% comment %}
    <link rel="stylesheet" type="text/css" href="css/styles.css "> {% endcomment %}
    <style>
       
        .draggable {
            transition: .4s ease-in-out;
            cursor: move;
        }

        .draggable>* {
            background-color: transparent;
        }

        .draggable:hover {
            background-color: #96d6fc71;
        }

        .draggable.dragging {
            opacity: .5;
        }
    </style>
    <style>
        .card_group {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(6, 1fr);
            gap: 2rem;
        }

        .card_item {
            border: 1px solid;
            position: relative;
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .4s ease-in-out;
        }

        .card_item:hover {
            background-color: rgba(190, 190, 190, 0.4);
        }

        .card_item_link {
            height: 100%;
            overflow: hidden;
        }

        .card_title {
            padding: 3% 0;
            height: 7.5%;
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }

        .card_item_img {
            display: flex;
            justify-content: center;
        }

        .card_img_top {
            aspect-ratio: 1;
            width: 8rem;
            overflow: hidden;

            object-fit: contain;
        }

        .card_text {
            width: 100%;
            aspect-ratio: 1;

        }


        .card_text p {
            width: 100%;
            aspect-ratio: 1;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .card_timestamp {
            margin: 2% 0;
            height: 5%;
            font-size: 12px;
        }

        .btn_delete {
            height: 12.5%;
            width: 100%;
            background-color: #ea1515;
            text-align: center;
            font-size: 15px;
            color: white;
            border: 1px groove grey;
        }

        .btn_delete:hover {
            color: white;
            text-decoration: none;
        }

        .card_delete {
            width: 25%;

            text-align: center;
            font-size: 18px;
            color: #111111;
            background-color: rgba(230, 230, 230, .2);
            position: absolute;
            top: 0;
            right: 0;
            transition: .4s ease;

        }

        .card_delete:hover {
            color: #fff;
            background-color: rgba(75, 75, 75, 0.3);
            text-decoration: none;
        }

        .card_item_menu {
            max-width: 1fr;
            height: 50vh;
            padding: 0;
            overflow: hidden;
        }

        .card_img_menu {
            margin: 0 -110%;
            left: -30%;
            max-height: 100%;
            overflow: hidden;
        }

        .sidenav {
            height: 100%;
            width: 160px;
            position: fixed;
            z-index: 1;
            top: 0;
            Left: 0;
            background-color: #111111;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .card_item_text {
            width: 100%;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            top: -50%;
        }

        .card_caption {
            overflow-y: auto;
            text-align: center;
            font-size: 15px;

            margin: 1em 0;
        }

        .create_button {
            width: fit-content;
            padding: 1% 2%;
            color: white;
            border-radius: 20px;
            background-color: #3ea80a;
            text-decoration: none;
        }

        .sidenav a {
            padding: 6px 8px 16px;
            text-decoration: none;
            display: block;
            font-size: 25px;
            color: #818181;
        }

        .create_button:hover {
            color: white;
            text-decoration: none;
        }


        .main {
            /*{#margin-left: 160px;#}*/
            /*{#padding: 0px 10px;#}*/
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/api/home/">Admin page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/api/post/" onclick=""> Writings </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/travels/"> Travels </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/music/"> Music </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/descriptions/"> Descriptions </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/login/"> Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout/"> Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>




    <div id="content" , name="content" , class="main">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-2">Matelo Mantra</h1>
                <hr class="mt-0 mb-4">
                {% if user.is_authenticated %}
                {% block content %}

                {% endblock %}
                {% else %}
                {% block unauthenticated %}

                {% endblock %}

                {% endif %}

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>

    <script>
        const SORTABLE = document.querySelector('.sortable');
        if (SORTABLE !== null)
            slist(SORTABLE);

        const SORT = document.querySelector('.sort');
        if (SORT !== null)
            slist(SORT);

        function slist(target) {
            // (A) SET CSS + GET ALL LIST ITEMS
            let items = target.querySelectorAll('.draggable');
            let inputs = target.querySelectorAll('.draggable>input');
            let current = null;
            order(inputs);
            // (B) MAKE ITEMS DRAGGABLE + SORTABLE
            for (let i of items) {
                // (B1) ATTACH DRAGGABLE

                i.draggable = true;

                // (B2) DRAG START - YELLOW HIGHLIGHT DROPZONES
                i.ondragstart = (ev) => {
                    current = i;
                    i.classList.add('dragging')
                    // for (let it of items) {
                    //     if (it != current) { it.classList.add("dragging"); }
                    // }
                };

                // (B3) DRAG ENTER - RED HIGHLIGHT DROPZONE
                i.ondragenter = (ev) => {
                    if (i != current) { i.classList.add("enter"); }
                };

                // (B4) DRAG LEAVE - REMOVE RED HIGHLIGHT
                i.ondragleave = () => {
                    i.classList.remove("enter");
                };

                // (B5) DRAG END - REMOVE ALL HIGHLIGHTS
                i.ondragend = () => {
                    for (let it of items) {
                        it.classList.remove("dragging");
                        it.classList.remove("enter");
                    }
                };

                // (B6) DRAG OVER - PREVENT THE DEFAULT "DROP", SO WE CAN DO OUR OWN
                i.ondragover = (evt) => { evt.preventDefault(); };

                // (B7) ON DROP - DO SOMETHING
                i.ondrop = (evt) => {
                    evt.preventDefault();
                    if (i != current) {
                        let currentpos = 0, droppedpos = 0;
                        for (let it = 0; it < items.length; it++) {
                            if (current == items[it]) { currentpos = it; }
                            if (i == items[it]) { droppedpos = it; }
                        }
                        if (currentpos < droppedpos) {
                            i.parentNode.insertBefore(current, i.nextSibling);
                            const newList = target.querySelectorAll('.draggable>input');
                            order(newList)
                        } else {
                            i.parentNode.insertBefore(current, i);
                            const newList = target.querySelectorAll('.draggable>input');
                            order(newList)
                        }
                    }
                };
            }
        }
        function order(list) {
            let counter = 0;
            list.forEach(element => {
                counter++
                element.setAttribute('value', counter)
            });
        }
    </script>
    <script>


    </script>
</body>

</html>