<template>
  <div class="post_card" :id="post.id">
    <div class="main-container">
      <div class="album_info">
        <div class="album_thumbnail">
          <div>
            <img v-bind:src="base_url + post.thumbnail" />
          </div>
          <div class="album_credits" v-show="post.credits.length > 0">
            <h3>Credits</h3>
            <br>
            <p v-for="credit in post.credits"
            :key="credit.id">
           {{credit.contributor}} by {{credit.contribution}} 
            </p>
          </div>
        </div>
        <div class="album_text">
          <div class="album_title">
            <p class="ttl">{{ post.name }}</p>
          </div>
          <div class="album_description">
            <p v-html="post.text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostView",
  components: {},
  props: {
    post: Object,
  },
  data() {
    return {
      base_url: process.env.VUE_APP_API,
    };
  },
  methods: {},
};
</script>

<style scoped>
.main-container {
  width: 100%;
  border-radius: var(--border-raduis-normal);
  background-color: var(--bk-clr-white);
}

.album_info {
  display: grid;
  grid-template-columns: 40% 55%;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
}
.album_thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.album_thumbnail img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.album_text {
  display: grid;
  grid-auto-rows: 0.8fr 4fr;
  gap: 2em;
}
.album_text p {
  text-align: center;
}
.album_title {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album_description p {
  text-align: left;
}
.album_credits{
  padding: 1em;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 10px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.3);
  overflow: auto;
  height: 15vh;
}
.album_credits > * {
  margin: 0;
}
.album_description {
  padding: 5%;
  font-weight: 100;
  font-size: 1.2rem;
  border-radius: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  height: 45vh;
  overflow: auto;
}

.post_card {
  position: absolute;
  transform: scale(0);
  visibility: hidden;
  transition: 0.4s ease-in-out;
}
.post_card:target {
  visibility: visible;
  transform: scale(1);
}
@media (max-width:768px) {
  .album_thumbnail{
    justify-content: flex-start;
    gap: 2em;
    margin-bottom: 2em;
  }
  .album_credits{
    height: 7vh;
  }
  .album_info{
    display: block;
  }
  .album_description{
      height: 10vh;
  }
}
</style>