
<template>
  <div>
    <Background />
    <Menu-bar />
    <div class="">
      <div class="post-container">
        <div class="side-nav">
          <a
            class="side-nav-item"
            v-for="post in posts"
            :key="post.id"
            v-bind:style="{
              backgroundImage: 'url(' + base_url + post.thumbnail + ')',
            }"
            :href="'#' + post.id"
            @click="trydoit($event)"
          >
            <!-- <h2>{{ post.name }}</h2> -->
          </a>
        </div>
        <div class="posts-list">
          <PostView v-for="post in posts" :key="post.id" :post="post" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Background from "@/components/Background";
import MenuBar from "@/components/MenuBar";
import PostView from "@/components/Writer/PostView";
export default {
  name: "Writer",
  components: { PostView, MenuBar, Background },
  data() {
    return { posts: [], base_url: process.env.VUE_APP_API };
  },
  computed: {},
  methods: {
    doit: () => {
      document.onreadystatechange = () => {
        if (document.readyState == "complete") {
          console.log("Page completed with image and files!");
        }
      };
    },
    trydoit(e) {
      const target = document.querySelectorAll(".active")[0];
      target?.classList?.remove("active");
      e.target.classList?.add("active");
    },
    async fetchPosts() {
      const res = await fetch(process.env.VUE_APP_API + "/api/post/rest/list/");

      return res.json();
    },
  },

  async created() {
    this.posts = await this.fetchPosts();
    console.log(this.posts);
  },
  mounted: function () {
    this.$nextTick(function () {
      let tries = 0;
      let firstSlide = document.querySelectorAll(".side-nav-item")[0];
      const interval = setInterval(() => {
        tries++;
        firstSlide = document.querySelectorAll(".side-nav-item")[0];
        if (firstSlide) {
          firstSlide.click();
          clearInterval(interval);
        }
        if (tries > 500) {
          clearInterval(interval);
        }
      }, 100);
    });
  },
};
</script>
<style scoped>
.post-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
  padding: 0em 5% 0 0em;
}
.side-nav {
  height: 62vh;
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  gap: 4rem;
  padding: 4rem;
  overflow-y: auto;
  border-radius: var(--border-raduis-normal);
}

.side-nav-item {
  position: relative;
  height: 10rem;
  width: 100%;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
.side-nav-item.active {
  border: 1px solid teal;
}
.side-nav-item.active::before {
  background-color: rgba(0, 0, 0, 0.1);
}
.side-nav-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}
.side-nav-item:hover:before {
  background-color: rgba(0, 0, 0, 0.2);
}
.side-nav-item:target:before {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 3px solid green;
}

.posts-list {
  position: relative;
}

.side-nav::-webkit-scrollbar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.side-nav::-webkit-scrollbar-button:single-button {
  height: .75rem;
  margin-top: 1rem;
  border: transparent;
}

.side-nav::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgb(207, 207, 207);
  transition: .4s ease-in-out;
}
.side-nav::-webkit-scrollbar-thumb:hover {
  background: rgb(189, 189, 189);
}
@media (max-width:768px) {
  .side-nav{
    height: 55vh;
    padding: 2rem 5%;
    gap: 2rem;
    border-radius: 10px;
  }
  .side-nav-item{
    height: 80%;
    background-size: cover;
    background-position: center;
  }

}
</style>